<!-- BEGIN Main Content -->
<div class="login-wrapper">

    <!-- BEGIN Login Form -->
    <form method="POST" action="/login" accept-charset="UTF-8">
        {{#each massages}}
        <div class="alert alert-danger" role="alert">
            <span class="closebtn"
                style="margin-left: 15px;color: black;font-weight: bold;float: right;font-size: 22px;cursor: pointer;transition: 0.3s;line-height: 20px;"
                onclick="this.parentElement.style.display='none';">×</span>
            {{this}}
        </div>
        {{/each}}
        <input type="hidden" name="_csrf" value="{{token}}">
        <h3>Login to your account</h3>
        <hr />
        <div class="form-group">
            <div class="controls">
                <input class="form-control" placeholder="Email" name="email" type="email"><br>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input class="form-control" placeholder="password" name="password" type="password" value=""><br>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input class="btn btn-primary form-control" type="submit" value="Login">
            </div>
        </div>
        <hr />

    </form>
    <!-- END Login Form -->

</div>
<!-- END Main Content -->